scipy 
plotly 
dash 
dash_core_components 
dash_html_components 
dash_dangerously_set_inner_html 
dash-renderer 
sh 
flask 
ipywidgets 
nbconvert==5.4.0 
jupyterlab>=0.35.4 
pandas 
numpy 
datascience 
folium 
matplotlib 
sklearn 
nilearn
